<div class="form-3 " style="overflow-x:auto;">
    <div class="row">

        <br>

    </div>
    <div class="header" style="text-align: center;">
        <div><span>חיפוש </span>דוח</div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <button class="btn btn-success " id="btnSize" (click)="save('image.png')">
          <i class="material-icons mr-2" style=" display: inline-flex;
          vertical-align: top;">
       save_alt
          </i>
          ייצוא <b> דוח ל - PDF</b></button>
        <button class="btn btn-success " id="btnSize" (click)="save('image.jpg')">
          <i class="material-icons mr-2" style=" display: inline-flex;
          vertical-align: top;">
       save_alt
          </i>
          ייצוא <b>דוח ל - JPG </b></button>
    </div>
    <br>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group row justify-content-center">
            <div class="form-row">
                <mat-form-field>
                    <mat-label>דרגה ושם השוטר</mat-label>
                    <input formControlName="Rank_first_last_name_officer" class="form-control" matInput>
                    <small class="error" *ngIf="f.Rank_first_last_name_officer.invalid && (f.Rank_first_last_name_officer.dirty || f.Rank_first_last_name_officer.touched)">
          </small>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <button id="btnSize" class="btn btn-success ">
              <i class="material-icons mr-2" style=" display: inline-flex;
          vertical-align: top;">
       search
          </i>
              חיפוש</button>
        </div>
    </form>
    <hr />
    <form [formGroup]="productFormDate" (ngSubmit)="onSubmitDate()">
        <div class="form-group row justify-content-center">
            <div class="form-row">
                <mat-form-field>
                    <mat-label>מתאריך</mat-label>
                    <input type="date" formControlName="date1" class="form-control" matInput>
                    <small class="error" *ngIf="fDate.date1.invalid && (fDate.date1.dirty || fDate.date1.touched)">
          </small>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="form-row">
                <mat-form-field>
                    <mat-label>עד תאריך</mat-label>
                    <input type="date" formControlName="date2" class="form-control" matInput>
                    <small class="error" *ngIf="fDate.date2.invalid && (fDate.date2.dirty || fDate.date2.touched)">
          </small>
                </mat-form-field>

            </div>

        </div>
        <div class="row justify-content-center">
            <button id="btnSize" class="btn btn-success ">
              <i class="material-icons mr-2" style=" display: inline-flex;
              vertical-align: top;">
           search
              </i>
              חיפוש</button>
        </div>

    </form>
    <hr />
    <!--
    <form [formGroup]="productFormIDNumber" (ngSubmit)="onSubmitIdNumber()">
        <div class="form-group">
            <div class="form-row">
                <mat-form-field>
                    <mat-label> ת.ז מקבל הדוח</mat-label>
                    <input formControlName="idSearch" class="form-control" matInput>
                    <small class="error" *ngIf="fIdNumber.idSearch.invalid && (fIdNumber.idSearch.dirty || fIdNumber.idSearch.touched)">
          </small>
                </mat-form-field>
            </div>
        </div>
        <button class="btn btn-success mr-2">חיפוש</button>
    </form>
    -->
    <div class="form-group row justify-content-center">
        <div class="form-row">
            <mat-form-field>
                <mat-label> סינון תוצאות לאחר חיפוש</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="הזן סינון רצוי">
            </mat-form-field>
        </div>
    </div>
    <hr />

    <div class="table table-stripped table-bordered table-responsive bg-light text-dark example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <!-- Rank_first_last_name_officer -->
            <ng-container matColumnDef="Rank_first_last_name_officer">
                <mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> שם מלא ודרגה </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Rank_first_last_name_officer}} </mat-cell>
            </ng-container>
            <!-- ID_Number -->
            <ng-container matColumnDef="ID_Number">
                <mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> ת.ז מקבל הדוח </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ID_Number}} </mat-cell>
            </ng-container>
            <!-- Date -->
            <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> תאריך דוח </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Date}} </mat-cell>
            </ng-container>
            <!-- Actions -->
            <ng-container matColumnDef="More_details">
                <mat-header-cell *matHeaderCellDef scope="col"> פרטים נוספים </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-button *ngIf="!viewDiteilsReport" class="btn btn-info" id="btnSize" (click)="viewDiteilsReport=true && viewId=row.id">פרטים נוספים</button>
                    <button mat-button *ngIf="viewDiteilsReport && viewId==row.id" id="btnSize" class="btn btn-danger" (click)="viewDiteilsReport=false">סגור</button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,20]"></mat-paginator>
    </div>


    <!--more deteils-->

    <ng-container *ngFor="let row of rows">
        <table class="table table-striped" *ngIf=" viewDiteilsReport && viewId==row.id" id="mainContainer">

            <thead>
                <tr>
                    <th scope="col"><button id="btnSize" class="btn btn-success "> {{row.id}} - מספר דוח </button></th>
                    <th scope="col"><strong class=" row justify-content-center " style="color: red;">
                      דרגת השוטר ושם מלא: {{row.Rank_first_last_name_officer}}</strong></th>
                    <th scope="col"><button href="javascript:void(0)" class="btn btn-danger " id="btnSize" (click)="deleteProduct(row.id)">{{row.id}} - ביטול הדוח</button></th>
                </tr>
            </thead>

            <thead>
                <tr>
                    <th scope="col">שם פרטי</th>
                    <th scope="col">מקבל הדוח</th>
                    <th scope="col">מספר רישיון נהיגה</th>
                </tr>
            </thead>
            <thead>

                <tr>
                    <td scope="row">{{row.First_Name}}</td>
                    <td>{{row.Whom}}</td>
                    <td>{{row.DrivingLicenseNumber}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">מספר בית</th>
                    <th scope="col">תוצר הרכב</th>
                    <th scope="col">מספר דוח</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td scope="row">{{row.Home_Number}}</td>
                    <td>{{row.Car_Manufacturer}}</td>
                    <td>{{row.id}}</td>
                </tr>
            </thead>
            <thead>
                <tr>

                    <th scope="col">רחוב</th>
                    <th scope="col">עיר</th>
                    <th scope="col">שם משפחה</th>

                </tr>
            </thead>
            <thead>
                <tr>

                    <td scope="row">{{row.Street}}</td>
                    <td>{{row.City}}</td>
                    <td>{{row.Last_Name}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">סוג לוחית</th>
                    <th scope="col">איימל</th>
                    <th scope="col">שם נייד</th>
                </tr>
            </thead>
            <thead>
                <tr>

                    <td scope="row">{{row.Plate_Type}}</td>
                    <td>{{row.EMail}}</td>
                    <td>{{row.Phone_Number}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">שעה</th>
                    <th scope="col">תאריך</th>
                    <th scope="col">צבע הרכב</th>

                </tr>
            </thead>
            <thead>
                <tr>
                    <td scope="row">{{row.Hour}}</td>
                    <td>{{row.Date}}</td>
                    <td>{{row.Car_Color}}</td>

                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">נקודות</th>
                    <th scope="col">סעיפי עבירה</th>
                    <th scope="col">תיאור מיקום העבירה</th>

                </tr>
            </thead>
            <thead>
                <tr>
                    <td scope="row">{{row.Points}}</td>
                    <td>{{row.Offense_Description}}</td>
                    <td>{{row.Offense_Place_Description}}</td>

                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">סכום הקנס במילים</th>
                    <th scope="col">סכום הקנס בספרות</th>
                    <th scope="col">מכשור עזר בשימוש בדו"ח</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td scope="row">{{row.Report_Amount_inWords}}</td>
                    <td>{{row.Report_Amount}}</td>
                    <td>{{row.Speedometer_Type}}</td>
                </tr>
            </thead>

            <thead>
                <tr>

                    <th scope="col">סמל סעיף</th>
                    <th scope="col">מקום העבירה</th>
                    <th scope="col">סוג הרכב</th>
                </tr>
            </thead>
            <thead>
                <tr>

                    <td scope="row">{{row.Offense_Number}}</td>
                    <td>{{row.Offense_Place}}</td>
                    <td>{{row.Car_Type}}</td>

                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">מ.א או ת.ז עד שני</th>
                    <th scope="col">שם מלא</th>
                    <th scope="col"> מ.א או ת.ז עד ראשון</th>

                </tr>
            </thead>
            <thead>
                <tr>
                    <td scope="row">{{row.Second_Witness_ID}}</td>
                    <td>{{row.First_Witness_Full_Name}}</td>
                    <td>{{row.First_Witness_ID}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">מרחק במטרים</th>
                    <th scope="col">מהירות נסיעה</th>
                    <th scope="col">תאריך אחרון לתשלום</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td scope="row">{{row.Distance}}</td>
                    <td>{{row.Kmh}}</td>
                    <td>{{row.Last_Date_To_Pay}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">חתימה</th>
                    <th scope="col"> נסיבות מיוחדות של המקרה</th>
                    <th scope="col">שם מלא</th>
                </tr>
            </thead>
            <thead>
                <tr>

                    <td scope="row"><img [src]="row.Citizen_Signture" style="width: auto;height: auto;"></td>
                    <td>{{row.Full_Description}}</td>
                    <td>{{row.Second_Witness_Full_Name}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">מספר רכב</th>
                    <th scope="col"> תאריך אישור קבלת הדוח</th>
                    <th scope="col">חתימה</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td scope="row">{{row.Car_Number}}</td>
                    <td>{{row.Citizen_Date_Confirmed}}</td>
                    <td>{{row. GivenNotGiven_Continuation_Of_The_Case}}</td>
                </tr>
            </thead>
            <thead>

                <tr>
                    <th scope="col">תמונה - רשיונות</th>
                    <th scope="col"> תמונה - מסמכים</th>
                    <th scope="col">תמונה - רכב</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td scope="row"><img [src]="row.photo_1" style="width: 100px;height: 100px;"></td>
                    <td scope="row"><img [src]="row.photo_2" style="width: 100px;height: 100px;"></td>
                    <td scope="row"><img [src]="row.photo_3" style="width: 100px;height: 100px;"></td>
                </tr>
            </thead>
        </table>



    </ng-container>


</div>
