.container {
    max-width: 90%;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

p {
    font-family: Lato;
}

.example-container {
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 18px;
    padding: 20px 40px;
    text-align: right;
    font-family: 'Open Sans Hebrew', serif;
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #548ca0, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

.btn {
    font-family: 'Open Sans Hebrew', serif;
    font-size: 18px;
    width: 200px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: auto;
    margin: 4px;
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #548ca0, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

.mat-table {
    font-family: 'Open Sans Hebrew', serif;
    overflow: auto;
    max-height: 500px;
    text-align: right;
}

.header div {
    float: center;
    color: #fff;
    top: calc(60% - 35px);
    left: calc(50% - 255px);
    font-family: 'Open Sans Hebrew', serif;
    font-size: 35px;
    font-weight: 200;
}

.header div span {
    color: #5379fa !important;
}

.mat-header-cell {
    font-size: 16px;
    font-family: 'Open Sans Hebrew', serif;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #333;
}

.mat-cell {
    font-family: 'Open Sans Hebrew', serif;
    display: flex;
    justify-content: center;
}

hr {
    width: 300px;
}

table {
    width: 100%;
    border-spacing: 1px;
    margin-bottom: 20px;
    max-height: 500px;
}

table tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

table th,
table td {
    text-align: center;
}

table th {
    color: #ebebeb;
    background-color: #5379fa;
    border: 1px solid #1c374d;
}

table td {
    color: #050505;
    border: 1px solid #1c374d;
}
