.mat-stepper-vertical {
    margin-top: 2px;
    opacity: 1;
    font-size: 16px;
    text-align: right;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #b8c6db 74%);
    font-family: 'Varela Round', sans-serif;
    box-shadow: inset 0px 1px 0px #548ca0, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    overflow: auto;
    max-height: 500px;
    background-color: #ebebeb;
}

th {
    background-color: #303031;
    border: 1px solid #3079b4;
    color: #ffffff;
}

td {
    border: 1px solid #3079b4;
}

.header div {
    float: center;
    color: #fff;
    top: calc(60% - 35px);
    left: calc(50% - 255px);
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.header div span {
    color: #5379fa !important;
}

.mat-form-field {
    font-size: 18px;
    text-align: right;
    font-family: 'Varela Round', sans-serif;
    width: 220px;
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #548ca0, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

.ngx-mat-file-input {
    font-size: 18px;
    text-align: right;
    font-family: 'Varela Round', sans-serif;
    width: 260px;
    height: 50px;
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #548ca0, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

.mat-radio-button {
    font-size: 18px;
    background-color: transparent;
    font-family: 'Varela Round', sans-serif;
}

canvas {
    border: 1px solid rgb(197, 3, 3);
}

.btn {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    width: 150px;
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #b1c7cf, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

#ph {
    position: relative;
    font-size: 18px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    width: 240px;
    height: 50px;
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #548ca0, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

#matstep {
    color: white;
    width: 180px;
    background-image: linear-gradient(260deg, #2376ae 0%, #144f77 50%);
    box-shadow: none;
}

agm-map {
    height: 300px;
}

#map {
    display: block;
    height: 60vh;
    border-radius: 20px;
}