<div class="container example-container mat-elevation-z8">
    <h1 style="text-align: center">{{title}}</h1>
    <hr />
    <div class="row" style="text-align: right;">
        <div class="col-md-12">

            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="productForm">
                        <ng-template matStepLabel>פרטים אישיים</ng-template>
                        <!--step 1-->
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label for="Whom">מקבל הדוח</mat-label>
                                    <mat-select formControlName="Whom" required>
                                        <mat-option>----</mat-option>
                                        <mat-option value="הנהג">הנהג</mat-option>
                                        <mat-option value="בעל הרכב">בעל הרכב</mat-option>
                                        <mat-option value="נוסע ברכב">נוסע ברכב</mat-option>
                                        <mat-option value="הולך רגל">הולך רגל</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>מספר רשיון נהיגה</mat-label>
                                    <input formControlName="DrivingLicenseNumber" class="form-control" required pattern="[0-9].{6}" matInput>
                                    <small class="error" *ngIf="f.DrivingLicenseNumber.invalid && (f.DrivingLicenseNumber.dirty || f.DrivingLicenseNumber.touched)">
                                      <div *ngIf="f.DrivingLicenseNumber.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.DrivingLicenseNumber.hasError('pattern')">הזן מספר רשיון נהיגה תקין</div>
                                  </small>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>מספר ת.ז</mat-label>
                                    <input formControlName="ID_Number" class="form-control" required pattern="[0-9].{8}" matInput>
                                    <small class="error" *ngIf="f.ID_Number.invalid && (f.ID_Number.dirty || f.ID_Number.touched)">
                                      <div *ngIf="f.ID_Number.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.ID_Number.hasError('pattern')">נא להזין 9 ספרות בלבד</div>
                                  </small>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>שם פרטי</mat-label>
                                    <input formControlName="First_Name" class="form-control" required pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.First_Name.invalid && (f.First_Name.dirty || f.First_Name.touched)">
                                      <div *ngIf="f.First_Name.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.First_Name.hasError('pattern')">נא להזין שם פרטי בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>שם משפחה</mat-label>
                                    <input formControlName="Last_Name" class="form-control" required pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.Last_Name.invalid && (f.Last_Name.dirty || f.Last_Name.touched)">
                                      <div *ngIf="f.Last_Name.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Last_Name.hasError('pattern')">נא להזין שם משפחה בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>עיר</mat-label>
                                    <input formControlName="City" class="form-control" required pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.City.invalid && (f.City.dirty || f.City.touched)">
                                      <div *ngIf="f.City.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.City.hasError('pattern')">נא להזין עיר בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>רחוב</mat-label>
                                    <input formControlName="Street" class="form-control" required pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.Street.invalid && (f.Street.dirty || f.Street.touched)">
                                      <div *ngIf="f.Street.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Street.hasError('pattern')">נא להזין רחוב בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>מספר בית</mat-label>
                                    <input formControlName="Home_Number" class="form-control" required pattern="[0-9].{0,2}" matInput>
                                    <small class="error" *ngIf="f.Home_Number.invalid && (f.Home_Number.dirty || f.Home_Number.touched)">
                                      <div *ngIf="f.Home_Number.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Home_Number.hasError('pattern')">נא להזין עד 3 ספרות בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>נייד</mat-label>
                                    <input formControlName="Phone_Number" class="form-control" required pattern="05?[0-9]-?[0-9]{7}" matInput>
                                    <small class="error" *ngIf="f.Phone_Number.invalid && (f.Phone_Number.dirty || f.Phone_Number.touched)">
                                      <div *ngIf="f.Phone_Number.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Phone_Number.hasError('pattern')">נא להזין מספר טלפון תקין</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>איימל</mat-label>
                                    <input formControlName="EMail" class="form-control" placeholder="example@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" matInput>
                                    <small class="error" *ngIf="f.EMail.invalid && (f.EMail.dirty || f.EMail.touched)">

                                      <div *ngIf="f.EMail.hasError('pattern')">נא להזין איימל תקין</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <!--step 2-->
                    </mat-step>
                    <mat-step [stepControl]="productForm">
                        <ng-template matStepLabel>פרטי הרכב</ng-template>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label for="Plate_Type">סוג לוחית</mat-label>
                                    <mat-select formControlName="Plate_Type" required>
                                        <mat-option>----</mat-option>
                                        <mat-option id="select1" value="il">ישראלית</mat-option>
                                        <mat-option id="select1" value="ps">פלסטינית</mat-option>
                                        <mat-option id="select1" value="cd">סגל דיפלומטי</mat-option>
                                        <mat-option id="select1" value="cc">אנשי קונסוליה</mat-option>
                                        <mat-option id="select1" value="icrc">הצלב האדום</mat-option>
                                        <mat-option id="select1" value="un">או"ם</mat-option>
                                        <mat-option id="select1" value="mfo">הכוח הרב לאומי בסיני</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>תוצר הרכב</mat-label>
                                    <input formControlName="Car_Manufacturer" class="form-control" pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.Car_Manufacturer.invalid && (f.Car_Manufacturer.dirty || f.Car_Manufacturer.touched)">

                                      <div *ngIf="f.Car_Manufacturer.hasError('pattern')">נא להזין אותיות בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>סוג הרכב</mat-label>
                                    <input formControlName="Car_Type" class="form-control" pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.Car_Type.invalid && (f.Car_Type.dirty || f.Car_Type.touched)">

                                      <div *ngIf="f.Car_Type.hasError('pattern')">נא להזין אותיות בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>צבע הרכב</mat-label>
                                    <input formControlName="Car_Color" class="form-control" pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.Car_Color.invalid && (f.Car_Color.dirty || f.Car_Color.touched)">

                                      <div *ngIf="f.Car_Color.hasError('pattern')">נא להזין אותיות בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>מספר הרכב</mat-label>
                                    <input formControlName="Car_Number" class="form-control" pattern="[0-9].{6,7}" matInput>
                                    <small class="error" *ngIf="f.Car_Number.invalid && (f.Car_Number.dirty || f.Car_Number.touched)">

                                      <div *ngIf="f.Car_Number.hasError('pattern')">נא להזין מספר רכב תקין</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <!--step 3-->
                    </mat-step>
                    <mat-step [stepControl]="productForm">
                        <ng-template matStepLabel>פרטי העבירה</ng-template>
                        <strong class=" row justify-content-md-center col-md-10">
                            :תיאור העובדות המהוות את העבירה
                        </strong>
                        <div class="form-group row justify-content-md-center col-md-10">

                            <div class="form-row">

                                <mat-form-field>
                                    <mat-label>תאריך</mat-label>
                                    <input formControlName="Date" type="date" class="form-control" required matInput>
                                    <small class="error" *ngIf="f.Date.invalid && (f.Date.dirty || f.Date.touched)">
                                      <div *ngIf="f.Date.hasError('required')">שדה חובה</div>

                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>שעה</mat-label>
                                    <input formControlName="Hour" type="time" class="form-control" required matInput>
                                    <small class="error" *ngIf="f.Hour.invalid && (f.Hour.dirty || f.Hour.touched)">
                                      <div *ngIf="f.Hour.hasError('required')">שדה חובה</div>

                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label for="Offense_Place">מקום העבירה</mat-label>
                                    <mat-select formControlName="Offense_Place" required>
                                        <mat-option value="אחר">אחר</mat-option>
                                        <mat-option value="ברחוב">ברחוב</mat-option>
                                        <mat-option value="בצומת הרחובות">בצומת הרחובות</mat-option>
                                        <mat-option value="בכביש">בכביש</mat-option>
                                        <mat-option value="בצומת כבישים">בצומת כבישים</mat-option>
                                        <mat-option value="בצומת כביש רחוב">בצומת כביש רחוב</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>תיאור מיקום העבירה</mat-label>
                                    <textarea rows="7" cols="40" formControlName="Offense_Place_Description" class="form-control" required pattern="[\u0590-\u05FF\s]{1,}" matInput></textarea>
                                    <small class="error" *ngIf="f.Offense_Place_Description.invalid && (f.Offense_Place_Description.dirty || f.Offense_Place_Description.touched)">
                                      <div *ngIf="f.Offense_Place_Description.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Offense_Place_Description.hasError('pattern')">נא להזין אותיות בעברית בלבד</div>
                                  </small>
                                </mat-form-field>
                            </div>
                        </div>
                        <strong class="row justify-content-md-center col-md-10">
                            סעיפי העבירה
                        </strong>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>עבירה על</mat-label>
                                    <textarea rows="7" cols="40" formControlName="Offense_Description" class="form-control" required pattern="[0-9\u0590-\u05FF\s]{1,}" matInput></textarea>
                                    <small class="error" *ngIf="f.Offense_Description.invalid && (f.Offense_Description.dirty || f.Offense_Description.touched)">
                                      <div *ngIf="f.Offense_Description.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Offense_Description.hasError('pattern')">הכנס רק אותיות ומספרים</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>נקודות חובה</mat-label>
                                    <input formControlName="Points" class="form-control" pattern="[0-9]{1,2}" matInput>
                                    <small class="error" *ngIf="f.Points.invalid && (f.Points.dirty || f.Points.touched)">

                                      <div *ngIf="f.Points.hasError('pattern')">הכנס רק עד 2 ספרות</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10 ">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>סמל סעיף</mat-label>
                                    <input formControlName="Offense_Number" class="form-control" required pattern="[0-9]{4}" matInput>
                                    <small class="error" *ngIf="f.Offense_Number.invalid && (f.Offense_Number.dirty || f.Offense_Number.touched)">
                                      <div *ngIf="f.Offense_Number.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Offense_Number.hasError('pattern')">הכנס 4 ספרות</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label for="Speedometer_Type">מכשור עזר בשימוש בדו"ח</mat-label>
                                    <mat-select formControlName="Speedometer_Type">
                                        <mat-option value="דוח מכשור">דוח מכשור</mat-option>
                                        <mat-option value="LTI 20-20">LTI 20-20</mat-option>
                                        <mat-option value="5000 IL">5000 IL</mat-option>
                                        <mat-option value="BEE III IL">BEE III IL</mat-option>
                                    </mat-select>
                                </mat-form-field>


                            </div>
                        </div>
                        <strong class="row justify-content-md-center col-md-10">
                          :את הקנס שנקבע לעבירה בחוק בסך
                        </strong>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>סכום הקנס בספרות</mat-label>
                                    <input formControlName="Report_Amount" placeholder="₪" class="form-control" required pattern=[0-9]{1,4} matInput>
                                    <small class="error" *ngIf="f.Report_Amount.invalid && (f.Report_Amount.dirty || f.Report_Amount.touched)">
                                      <div *ngIf="f.Report_Amount.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Report_Amount.hasError('pattern')">הכנס סכום תקין עד 4 ספרות</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>סכום הקנס במילים</mat-label>
                                    <input formControlName="Report_Amount_inWords" class="form-control" required pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.Report_Amount_inWords.invalid && (f.Report_Amount_inWords.dirty || f.Report_Amount_inWords.touched)">
                                      <div *ngIf="f.Report_Amount_inWords.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Report_Amount_inWords.hasError('pattern')">הכנס סכום באותיות בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <strong class="row justify-content-md-center col-md-10">
                          :עליך לשלם במזומן תוך 90 ימים מקבלת הודעה זו, ולא יאוחר מיום
                        </strong>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>תאריך אחרון לתשלום</mat-label>
                                    <input formControlName="Last_Date_To_Pay" type="date" class="form-control" required matInput>
                                    <small class="error" *ngIf="f.Last_Date_To_Pay.invalid && (f.Last_Date_To_Pay.dirty || f.Last_Date_To_Pay.touched)">
                                      <div *ngIf="f.Last_Date_To_Pay.hasError('required')">שדה חובה</div>

                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <strong class="row justify-content-md-center col-md-10">
                          .זולת אם תוך מועד זה תודיע/י שברצונך להישפט בבית משפט על העבירה
                        </strong>
                    </mat-step>
                    <!--step 4-->
                    <mat-step [stepControl]="productForm">
                        <ng-template matStepLabel> פרטי נסיבות\ העדים </ng-template>
                        <strong class="row justify-content-md-center col-md-10">פרטי העדים</strong>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>ת.ז או מ.א</mat-label>
                                    <input formControlName="First_Witness_ID" class="form-control" pattern="[0-9]{6,9}" matInput>
                                    <small class="error" *ngIf="f.First_Witness_ID.invalid && (f.First_Witness_ID.dirty || f.First_Witness_ID.touched)">

                                      <div *ngIf="f.First_Witness_ID.hasError('pattern')">הכנס מספר תקין בין 6-9 ספרות</div>
                                  </small>

                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>שם העד</mat-label>
                                    <input formControlName="First_Witness_Full_Name" class="form-control" pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.First_Witness_Full_Name.invalid && (f.First_Witness_Full_Name.dirty || f.First_Witness_Full_Name.touched)">

                                      <div *ngIf="f.First_Witness_Full_Name.hasError('pattern')">הכנס שם מלא בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>ת.ז או מ.א</mat-label>
                                    <input formControlName="Second_Witness_ID" class="form-control" pattern="[0-9]{6,9}" matInput>
                                    <small class="error" *ngIf="f.Second_Witness_ID.invalid && (f.Second_Witness_ID.dirty || f.Second_Witness_ID.touched)">

                                      <div *ngIf="f.Second_Witness_ID.hasError('pattern')">הכנס מספר תקין בין 6-9 ספרות</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>שם העד</mat-label>
                                    <input formControlName="Second_Witness_Full_Name" class="form-control" pattern="[\u0590-\u05FF\s]{1,}" matInput>
                                    <small class="error" *ngIf="f.Second_Witness_Full_Name.invalid && (f.Second_Witness_Full_Name.dirty || f.Second_Witness_Full_Name.touched)">

                                      <div *ngIf="f.Second_Witness_Full_Name.hasError('pattern')">הכנס שם מלא בעברית בלבד</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>נסיבות מיוחדות של המקרה</mat-label>
                                    <textarea rows="7" cols="40" formControlName="Full_Description" class="form-control" placeholder="הקפד על תיאור מפורט של האירוע" required pattern="[\u0590-\u05FF\s]{1,}" matInput></textarea>
                                    <small class="error" *ngIf="f.Full_Description.invalid && (f.Full_Description.dirty || f.Full_Description.touched)">
                                      <div *ngIf="f.Full_Description.hasError('required')">שדה חובה</div>
                                      <div *ngIf="f.Full_Description.hasError('pattern')">תאר את נסיבות המקרה</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <!--step 5-->
                    </mat-step>
                    <mat-step [stepControl]="productForm">
                        <ng-template matStepLabel>נסיבות נוספות</ng-template>
                        <strong class=" row justify-content-md-center col-md-10">
                        בעבירת מהירות - המהירות שהוצגה במכשיר</strong>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>קמ"ש</mat-label>
                                    <input formControlName="Kmh" class="form-control" pattern="[0-9]{1,3}" matInput>
                                    <small class="error" *ngIf="f.Kmh.invalid && (f.Kmh.dirty || f.Kmh.touched)">

                                      <div *ngIf="f.Kmh.hasError('pattern')">נא להזין ערך מספרי בלבד בין 0-300 קמ"ש</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <strong class=" row justify-content-md-center col-md-10">
                          בעבירת מהירות שנמדדה באמצעות ממל"ז - המרחק שהוצג במכשיר</strong>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>מטר</mat-label>
                                    <input formControlName="Distance" class="form-control" pattern="[0-9]{1,3}" matInput>
                                    <small class="error" *ngIf="f.Distance.invalid && (f.Distance.dirty || f.Distance.touched)">

                                      <div *ngIf="f.Distance.hasError('pattern')">הכנס מספר מטרים תקין</div>
                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label for="GivenNotGiven_Continuation_Of_The_Case">המשך נסיבות המקרה</mat-label>
                                    <mat-select formControlName="GivenNotGiven_Continuation_Of_The_Case" required>
                                        <mat-option value="אין המשך נסיבות המקרה">אין המשך נסיבות המקרה</mat-option>
                                        <mat-option value="מסרתי העתק המשך נסיבות המקרה לנהג">מסרתי העתק המשך נסיבות המקרה לנהג</mat-option>
                                    </mat-select>
                                    <small class="error" *ngIf="f.GivenNotGiven_Continuation_Of_The_Case.invalid && (f.GivenNotGiven_Continuation_Of_The_Case.dirty || f.GivenNotGiven_Continuation_Of_The_Case.touched)">
                                      <div *ngIf="f.GivenNotGiven_Continuation_Of_The_Case.hasError('required')">שדה חובה</div>

                                  </small>
                                </mat-form-field>


                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>דברי מקבל הדוח</mat-label>
                                    <textarea rows="7" cols="40" formControlName="Citizen_Testimony" class="form-control" pattern="[\u0590-\u05FF\s]{1,}" matInput></textarea>
                                    <small class="error" *ngIf="f.Citizen_Testimony.invalid && (f.Citizen_Testimony.dirty || f.Citizen_Testimony.touched)">
                                      <div *ngIf="f.Citizen_Testimony.hasError('pattern')">הכנס רק אותיות בעברית</div>

                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <strong class=" row justify-content-md-center col-md-10">
                         מאשר/ת קבלת ההודעה בתאריך</strong>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>מאשר קבלת מתאריך</mat-label>
                                    <input formControlName="Citizen_Date_Confirmed" type="date" class="form-control" required matInput>
                                    <small class="error" *ngIf="f.Citizen_Date_Confirmed.invalid && (f.Citizen_Date_Confirmed.dirty || f.Citizen_Date_Confirmed.touched)">
                                      <div *ngIf="f.Citizen_Date_Confirmed.hasError('required')">שדה חובה</div>

                                  </small>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>דרגת השוטר ושם מלא</mat-label>
                                    <input formControlName="Rank_first_last_name_officer" class="form-control" placeholder=" רס'ר ישראל ישראלי" required matInput>
                                    <small class="error" *ngIf="f.Rank_first_last_name_officer.invalid && (f.Rank_first_last_name_officer.dirty || f.Rank_first_last_name_officer.touched)">

                                  <div *ngIf="f.Rank_first_last_name_officer.hasError('required')">הכנס דרגה ושם מלא</div>
                              </small>
                                </mat-form-field>

                            </div>
                        </div>

                        <strong class=" row justify-content-md-center col-md-10">חתימת המקבל/ת</strong>
                        <div class="form-group row justify-content-md-center col-md-10">
                            <div class="form-row">
                                <mat-form-field>
                                    <mat-label>חתימה</mat-label>
                                    <input formControlName="Citizen_Signture" class="form-control" matInput>
                                </mat-form-field>

                            </div>
                        </div>

                        <!--step 6-->
                    </mat-step>
                    <mat-step [stepControl]="productForm">
                        <ng-template matStepLabel>שליחת הדוח</ng-template>
                        <strong class=" row justify-content-md-center col-md-12" style="color: red;">
                           !אנא וודא שכל פרטי הדוח תקינים ונכונים ואשר מטה</strong>
                        <strong class=" row justify-content-md-center col-md-12" style="color: red;">
                          דרגת השוטר ושם מלא:  {{productForm.value.Rank_first_last_name_officer}}</strong>

                        <div class="table-responsive ">
                            <table class="table table-stripped table-bordered">
                                <tr class="thead-dark text-right">
                                    <th>שם פרטי</th>
                                    <th>מספר ת.ז</th>
                                    <th>מספר רשיון נהיגה</th>
                                    <th>מקבל הדוח</th>
                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.First_Name}}</td>
                                    <td>{{productForm.value.ID_Number}}</td>
                                    <td>{{productForm.value.DrivingLicenseNumber}}</td>
                                    <td>{{productForm.value.Whom}}</td>
                                </tr>
                                <tr class="thead-dark text-right">
                                    <th>מספר בית</th>
                                    <th>רחוב</th>
                                    <th>עיר</th>
                                    <th>שם משפחה</th>

                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.Home_Number}}</td>
                                    <td>{{productForm.value.Street}}</td>
                                    <td>{{productForm.value.City}}</td>
                                    <td>{{productForm.value.Last_Name}}</td>
                                </tr>
                                <tr class="thead-dark text-right">
                                    <th>תוצר הרכב</th>
                                    <th>סוג לוחית</th>
                                    <th>איימל</th>
                                    <th>שם נייד</th>
                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.Car_Manufacturer}}</td>
                                    <td>{{productForm.value.Plate_Type}}</td>
                                    <td>{{productForm.value.EMail}}</td>
                                    <td>{{productForm.value.Phone_Number}}</td>
                                </tr>
                                <tr class="thead-dark text-right">
                                    <th>שעה</th>
                                    <th>תאריך</th>
                                    <th>צבע הרכב</th>
                                    <th>סוג הרכב</th>
                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.Hour}}</td>
                                    <td>{{productForm.value.Date}}</td>
                                    <td>{{productForm.value.Car_Color}}</td>
                                    <td>{{productForm.value.Car_Type}}</td>
                                </tr>
                                <tr class="thead-dark text-right">
                                    <th>נקודות</th>
                                    <th>סעיפי עבירה</th>
                                    <th>תיאור מיקום העבירה</th>
                                    <th>מקום העבירה</th>
                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.Points}}</td>
                                    <td>{{productForm.value.Offense_Description}}</td>
                                    <td>{{productForm.value.Offense_Place_Description}}</td>
                                    <td>{{productForm.value.Offense_Place}}</td>
                                </tr>
                                <tr class="thead-dark text-right">
                                    <th>סכום הקנס במילים</th>
                                    <th>סכום הקנס בספרות</th>
                                    <th>מכשור עזר בשימוש בדו"ח</th>
                                    <th>סמל סעיף</th>
                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.Report_Amount_inWords}}</td>
                                    <td>{{productForm.value.Report_Amount}}</td>
                                    <td>{{productForm.value.Speedometer_Type}}</td>
                                    <td>{{productForm.value.Offense_Number}}</td>
                                </tr>
                                <tr class="thead-dark text-right">
                                    <th>מ.א או ת.ז עד שני</th>
                                    <th>שם מלא</th>
                                    <th> מ.א או ת.ז עד ראשון</th>
                                    <th>תאריך אחרון לתשלום</th>
                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.Second_Witness_ID}}</td>
                                    <td>{{productForm.value.First_Witness_Full_Name}}</td>
                                    <td>{{productForm.value.First_Witness_ID}}</td>
                                    <td>{{productForm.value.Last_Date_To_Pay}}</td>
                                </tr>
                                <tr class="thead-dark text-right">
                                    <th>מרחק במטרים</th>
                                    <th>מהירות נסיעה</th>
                                    <th> נסיבות מיוחדות של המקרה</th>
                                    <th>שם מלא</th>
                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.Distance}}</td>
                                    <td>{{productForm.value.Kmh}}</td>
                                    <td>{{productForm.value.Full_Description}}</td>
                                    <td>{{productForm.value.Second_Witness_Full_Name}}</td>
                                </tr>
                                <tr class="thead-dark text-right">
                                    <th>חתימה</th>
                                    <th>מספר רכב</th>
                                    <th> תאריך אישור קבלת הדוח</th>

                                    <th>חתימה</th>
                                </tr>
                                <tr class="text-right">
                                    <td>{{productForm.value.Citizen_Signture}}</td>
                                    <td>{{productForm.value.Car_Number}}</td>
                                    <td>{{productForm.value.Citizen_Date_Confirmed}}</td>

                                    <td>{{productForm.value. GivenNotGiven_Continuation_Of_The_Case}}</td>

                                </tr>

                            </table>
                        </div>
                        <div class="form-group row justify-content-md-center col-md-10 ">
                            <div class="form-row">
                                <mat-radio-group formControlName="is_active" aria-label="Select an option">

                                    <mat-radio-button [value]=1 class="form-control col-md-4" required>מאשר</mat-radio-button>
                                    <mat-radio-button [value]=0 class="form-control col-md-4">לא מאשר</mat-radio-button>
                                    <mat-label class=" col-md-6">האם אתה מאשר דוח זה</mat-label>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <label class="col-md-3"></label>
                                <div class="col-md-4">

                                    <button class="btn btn-success mr-2">הנפקה</button>
                                    <button class="btn btn-danger" (click)="goBack()">ביטול</button>
                                </div>
                            </div>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </form>



            <!-- {{productForm.value | json}}
            [disabled]="!productForm.valid"-->
        </div>
    </div>
</div>

<!------------
                <div class="form-group">
                    <div class="form-row">
                        <label class="col-md-3">First_Name <span class="error">*</span></label>
                        <div class="col-md-9">
                            <input formControlName="price" class="form-control" />
                            <small class="error" *ngIf="f.First_Name.invalid && (f.First_Name.dirty || f.First_Name.touched)">
                              <div *ngIf="f.First_Name.hasError('required')">This field is required.</div>
                              <div *ngIf="f.First_Name.hasError('pattern')">Only number and decimal is allowed.</div>
                          </small>
                        </div>
                    </div>
                </div>
                -->
<!--------
                        <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-9">
                            <input formControlName="name" class="form-control" />
                            <small class="error" *ngIf="f.Whom.invalid && (f.Whom.dirty || f.Whom.touched)">
                          <div *ngIf="f.Whom.hasError('required')">This field is required.</div>
                      </small>
                        </div>
                        <label class="col-md-3">Whom <span class="error">*</span></label>

                    </div>
                </div>
                    ---->