<div class="container">
    <mat-card style="background: linear-gradient(260deg, #5d5fc2 20%, #314d5f 50%);border-radius: 20px;border: 1px solid #ddd;box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;">
        <div class="trappolice"></div>

        <div style="text-align: center;">
            <strong style=" text-align: center; color: white; ">
מערכת זו באה לתת פיתרון לשוטר בשטח, פתרון מבצעי קל ונגיש.
</strong>
            <div>
                <strong style="text-align: center; color: white; ">
  במערכת קיימות מספר אפשרויות, מתן דוחות תעבורה, ספרי חוקים
</strong>
            </div>
            <div>
                <strong style="text-align: center; color: white; ">
  נתונים דוחות עם אפשרויות רבות לפילוח נתוני
</strong>
            </div>
            <div>
                <strong style="text-align: center; color: white; ">
כתובות וטלפונים של תחנות ומחוזות
</strong>
            </div>
            <div>
                <strong style="text-align: center; color: white; ">
  הזנת שוטרים חדשים למערכת בידי קצינים בעלי הרשאה מתאימה
</strong>

            </div>
        </div>