<div class="container">
    <h1 style="text-align: center;">ברוך הבא למערכת </h1>
    <div class="trappolice"></div>
    <div style="text-align: center;">
        <strong style=" text-align: center; color: white; ">
     .מערכת זו באה לתת פיתרון לשוטר בשטח, פתרון מבצעי קל ונגיש
    </strong>
        <div>
            <strong style="text-align: center; color: white; ">
      במערכת קיימות מספר אפשרויות, מתן דוחות תעבורה, ספרי חוקים
    </strong>
        </div>
        <div>
            <strong style="text-align: center; color: white; ">
      נתונים דוחות עם אפשרויות רבות לפילוח נתונים,
    </strong>
        </div>
        <div>
            <strong style="text-align: center; color: white; ">
      הזנת שוטרים חדשים למערכת בידי קצינים בעלי הרשאה מתאימה
    </strong>
        </div>

        <div class="list-group example-container mat-elevation-z8">
            <a routerLink="/backend/cms" class="list-group-item list-group-item-action active"> עמוד ראשי</a>
            <a routerLink="/backend/product" class="list-group-item list-group-item-action">דוחות שהונפקו</a>
            <a routerLink="/backend/product/create" class="list-group-item list-group-item-action">הנפקת דוח</a>
            <a routerLink="/backend/dashboard" class="list-group-item list-group-item-action">חיפוש עבירה</a>
            <a routerLink="/backend/auth" class="list-group-item list-group-item-action ">הרשמת שוטר למערכת</a>
            <a routerLink="/backend/product/userlist" class="list-group-item list-group-item-action ">רשימת שוטרים רשומים</a>
            <a routerLink="/backend/product/userlist-server" class="list-group-item list-group-item-action ">רשימת דוחות שהונפקו מהשרת</a>
        </div>