<div class="container">
    <h1 style="text-align: center; color: white;">ברוך הבא למערכת - {{user.payload.rank}} {{user.payload.first_name}} {{user.payload.last_name}} </h1>

    <hr>

    <ul class="blue text-white d-flex align-items-center justify-content-between px-2 description-txt" style="text-align: center;">
        <li><a routerLink="/backend/cms"> עמוד ראשי</a></li>
        <li> <a routerLink="/backend/product/phone-list"> כתובות וטלפונים</a></li>
        <li *ngIf="user.payload.authorization === 'Admin'"><a routerLink="/backend/product">דוחות שהונפקו</a></li>
        <li><a routerLink="/backend/product/create">הנפקת דוח</a></li>
        <li> <a routerLink="/backend/dashboard">חיפוש עבירה</a></li>
        <li *ngIf="user.payload.authorization === 'Admin'"> <a routerLink="/backend/auth">הרשמת שוטר למערכת</a></li>
        <li *ngIf="user.payload.authorization === 'Admin'"><a routerLink="/backend/product/userlist">רשימת שוטרים רשומים</a></li>
        <li><a routerLink="/backend/product/product-about">אודות</a></li>
        <li><a routerLink="/backend/product/userlist-server">test get req</a></li>
    </ul>
</div>