mat-form-field {
    font-size: 16px;
    text-align: right;
    color: white;
    padding-inline-start: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #548ca0, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
    box-sizing: border-box;
    font-family: 'Open Sans Hebrew', serif;
}

.btn {
    font-family: 'Open Sans Hebrew', serif;
    font-size: 18px;
    width: 220px;
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

h1 {
    font-family: 'Open Sans Hebrew', serif;
    font-size: 24px;
}