/* You can add global styles to this file, and also import other style files */

html {
    background-size: 100%;
    overflow-x: hidden;
}

body {
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    background-size: 100%;
    overflow-x: hidden;
    line-height: 1.25;
    direction: rtl;
    font-size: 3em;
    -webkit-font-smoothing: antialiased;
}


/*
https://wallpaperaccess.com/full/473032.jpg
https://images8.alphacoders.com/954/thumb-1920-954226.jpg
https://images3.alphacoders.com/708/thumb-1920-708746.jpg
https://images6.alphacoders.com/101/thumb-1920-1016956.jpg
*/

btn {
    border-radius: 12px;
}

@media screen and (max-width: 960px) {
    #wrapper {
        width: 758px;
        overflow: hidden;
    }
    section {
        width: 420px;
    }
    aside {
        width: 230px;
    }
}

@media screen and (max-width: 758px) {
    #wrapper {
        width: 480px;
    }
    section,
    aside {
        float: none;
        width: 440px;
    }
}

@media screen and (max-width: 480px) {
    .table-responsive-xl,
    .mat-cell,
    .mat-header-cell,
    .mat-table {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    #wrapper {
        max-width: 480px;
        width: 480px;
        margin: 20px;
    }
    section,
    aside {
        float: none;
        width: 92%;
        padding: 4%;
    }
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.label {
    color: white;
}

@import "https://fonts.googleapis.com/earlyaccess/opensanshebrew.css";
@import "https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css";
@font-face {
    font-family: "DejaVu Sans";
    src: url("https://kendo.cdn.telerik.com/2018.2.620/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    src: url("https://kendo.cdn.telerik.com/2018.2.620/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic;
    src: url("https://kendo.cdn.telerik.com/2018.2.620/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    font-style: italic;
    src: url("https://kendo.cdn.telerik.com/2018.2.620/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

p {
    margin: 10px 0;
    font-family: "DejaVu Sans", "italic", sans-serif;
    white-space: nowrap;
}

.heavy {
    font-weight: 800;
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: 200;
}

.open {
    font-family: 'Open Sans Hebrew', serif;
}

.open-con {
    font-family: 'Open Sans Hebrew Condensed', serif;
}

.form-2 {
    font-family: "DejaVu Sans", "italic", sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    height: 500px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    color: rgb(255, 245, 245);
    /* Styles */
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 90%);
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.form-3 {
    font-family: "DejaVu Sans", "italic", sans-serif;
    font-weight: 500;
    /* Size and position */
    width: 80%;
    position: relative;
    margin: 60px auto 30px;
    overflow: hidden;
    padding-inline-start: 10px;
    /* Styles */
    background: linear-gradient(315deg, #b8c6db 0%, #b8c6db 74%);
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.form-4 {
    font-family: "DejaVu Sans", "italic", sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 60%;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;
    /* Styles */
    background: linear-gradient(315deg, #b8c6db 0%, #b8c6db 74%);
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.h1 {
    font-family: 'Open Sans Hebrew', serif;
    color: white;
}

.content-wrap {
    min-height: 550px;
}

.backend-wrap {
    min-height: 550px;
}

.brand {
    cursor: pointer;
}

.footer {
    padding: 1.5rem 0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #144f77 50%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.backend-footer {
    padding: 1.5rem 0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #144f77 50%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.error {
    color: #ff0000
}

.trappolice {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url('http://www.up2me.co.il/imgs/23749545.png');
    background-size: 20;
    background-repeat: no-repeat;
    background-position: top center;
    height: 180px;
}

.notfuond404 {
    background-image: url('http://up419.siz.co.il/up2/yjymt0miyzyf.png');
    background-size: 100;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
}
