/* You can add global styles to this file, and also import other style files */

html {
    background-size: 100%;
    overflow-x: hidden;
}

body {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 100%);
    overflow-x: hidden;
    line-height: 1.25;
    direction: rtl;
    font-size: 3em;
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.mat-cell,
.mat-header-cell,
.mat-table {
    font-size: medium;
}

@media screen and (max-width: 960px) {
    #wrapper {
        width: 758px;
        overflow: hidden;
    }
    section {
        width: 420px;
    }
    aside {
        width: 230px;
    }
}

@media screen and (max-width: 758px) {
    #wrapper {
        width: 480px;
    }
    section,
    aside {
        float: none;
        width: 440px;
    }
}

@media screen and (max-width: 480px) {
    #hello {
        font-size: 20px;
        text-align: center;
    }
    #btnSize {
        font-size: x-small;
    }
    .btn-info {
        position: relative;
        flex-wrap: wrap;
        align-items: right;
        justify-content: right;
        padding: .5rem 1rem;
    }
    .btn {
        margin-bottom: 8px;
    }
    .table-responsive-xl,
    .mat-cell,
    .mat-header-cell,
    .mat-table {
        border-spacing: 1px;
        margin-bottom: 20px;
        max-height: 500px;
        width: 100%;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        font-size: x-small;
        margin: auto;
        padding: auto;
    }
    th,
    td {
        font-size: x-small;
        padding: 2px 10px;
    }
    table {
        width: 50%;
        border-spacing: 1px;
        margin-bottom: 10px;
        max-height: 100%;
        max-width: 50%;
    }
    .material-icons {
        font-size: 1.2em;
    }
    .btn-danger {
        border: 1px solid #ddd;
        padding: 2px 8px;
        font-size: 80%;
        border-radius: 3px;
    }
    .btn {
        border: 1px solid #ddd;
        padding: 2px 4px;
        font-size: 80%;
        border-radius: 3px;
    }
    p {
        font-size: x-small;
    }
    strong {
        font-size: x-small;
    }
    #wrapper {
        max-width: 480px;
        width: 480px;
        margin: 20px;
    }
    section,
    aside {
        float: none;
        width: 92%;
        padding: 4%;
    }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.label {
    color: white;
}

@import "https://fonts.googleapis.com/earlyaccess/opensanshebrew.css";
@import "https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css";
p {
    margin: 10px 0;
    font-family: "DejaVu Sans", "italic", sans-serif;
    white-space: nowrap;
}

.heavy {
    font-weight: 800;
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: 200;
}

.open {
    font-family: 'Open Sans Hebrew', serif;
}

.open-con {
    font-family: 'Open Sans Hebrew Condensed', serif;
}

.form-2 {
    font-family: "DejaVu Sans", "italic", sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    height: 520px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    color: rgb(255, 245, 245);
    /* Styles */
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    box-shadow: 10px 50px 100px rgba(38, 57, 70, 0.7);
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.form-3 {
    font-family: "DejaVu Sans", "italic", sans-serif;
    font-weight: 500;
    /* Size and position */
    width: 80%;
    position: relative;
    margin: 60px auto 30px;
    overflow: hidden;
    padding-inline-start: 10px;
    /* Styles */
    background: linear-gradient(315deg, #b8c6db 0%, #b8c6db 74%);
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.form-4 {
    font-family: "DejaVu Sans", "italic", sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 60%;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;
    /* Styles */
    background: linear-gradient(315deg, #b8c6db 0%, #b8c6db 74%);
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.h1 {
    font-family: 'Open Sans Hebrew', serif;
    color: white;
}

.content-wrap {
    min-height: 550px;
}

.backend-wrap {
    min-height: 550px;
}

.brand {
    cursor: pointer;
}

.footer {
    padding: 1.5rem 0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #144f77 50%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.backend-footer {
    padding: 1.5rem 0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #144f77 50%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.error {
    color: #ff0000
}

.trappolice {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url('http://www.up2me.co.il/imgs/23749545.png');
    background-size: 20;
    background-repeat: no-repeat;
    background-position: top center;
    height: 180px;
}

.trappolice1 {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url('http://www.up2me.co.il/imgs/23749545.png');
    background-size: 20;
    background-repeat: no-repeat;
    background-position: top center;
}

.notfuond404 {
    background-image: url('http://up419.siz.co.il/up2/yjymt0miyzyf.png');
    background-size: 100;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
}