<div class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm example-container mat-elevation-z8">

    <div class="header" routerLink="/auth/login">
        <div>TrAp<span>police</span></div>
    </div>
    <button class="navbar-toggler md-form my-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h3 class=" my-0 mr-md-auto font-weight-normal brand">
        <a class="btn btn-info btn-lg mr-2" style="text-align: right;" routerLink="/auth/login">
          כניסה
          <i class="material-icons mr-2" style=" display: inline-flex;
          vertical-align: top;">
            login
          </i>
        </a>

    </h3>


</div>
