<div class="container ">
    <div class="table-responsive bg-light text-dark">
        <table matSort (matSortChange)="sortData($event)" class="table table-stripped table-bordered">
            <tr class="thead-dark col-md-12 text-right">
                <th mat-sort-header="username">שם משתמש</th>
                <th mat-sort-header="first_name">שם פרטי </th>
                <th mat-sort-header="last_name">שם משפחה</th>

            </tr>
            <ng-container *ngFor="let row of sortedData ">
                <tr class="text-right">
                    <td>{{row.username}}</td>
                    <td>{{row.first_name}}</td>
                    <td>{{row.last_name}}</td>
                </tr>
            </ng-container>

        </table>
    </div>
</div>