<div class="form-3">
    <br>
    <div class="header" style="text-align: center;">
        <div><span>חיפוש </span>שוטרים</div>

        <br>
        <p>אפשרויות חיפוש על פי</p>

        <p>שם שוטר / מספר אישי / דרגה</p>
    </div>
    <div class="example-header row justify-content-center">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="הזן מילת חיפוש">
        </mat-form-field>
    </div>

    <div class=" table table-stripped table-bordered table-responsive bg-light text-dark example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

            <!-- last_name -->
            <ng-container matColumnDef="last_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> שם משפחה </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.last_name}} </mat-cell>
            </ng-container>
            <!-- first_name -->
            <ng-container matColumnDef="first_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.first_name}} </mat-cell>
            </ng-container>
            <!-- rank -->
            <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef mat-sort-header> דרגת השוטר </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.rank}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id_rank">
                <mat-header-cell *matHeaderCellDef mat-sort-header>מספר אישי </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id_rank}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Remove">
                <mat-header-cell *matHeaderCellDef scope="col"> פעולות נוספות </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-button class="btn btn-danger " (click)="deleteUser(row.id_rank)">מחק שוטר</button>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,20]"></mat-paginator>
    </div>
</div>

<!--
       <table matSort (matSortChange)="sortData($event)" class="table table-stripped table-bordered">
            <tr class="thead-dark col-md-12 text-right">
                <th mat-sort-header="username">שם משתמש</th>
                <th mat-sort-header="first_name">שם פרטי </th>
                <th mat-sort-header="last_name">שם משפחה</th>

            </tr>
            <ng-container *ngFor="let row of sortedData ">
                <tr class="text-right">
                    <td>{{row.username}}</td>
                    <td>{{row.first_name}}</td>
                    <td>{{row.last_name}}</td>
                </tr>
            </ng-container>

        </table>
-->
