    .mat-form-field {
        text-align: right;
        font-family: 'Varela Round', sans-serif;
        font-size: 12px;
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
    @import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
    .login-text {
        color: white;
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3);
        .fa-stack-1x {
            color: rgb(179, 7, 7);
        }
    }

    .login {
        font-family: 'Varela Round', sans-serif;
        position: absolute;
        top: calc(35% - 75px);
        left: calc(35% - 50px);
        height: 150px;
        width: 350px;
        padding: 10px;
        z-index: 2;
    }

    .login input[type=text] {
        width: 260px;
        height: 35px;
        background: white;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 16px;
        color: rgb(0, 0, 0);
        font-family: 'Varela Round', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 2px;
    }

    .login input[type=password] {
        width: 260px;
        height: 35px;
        background: white;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 16px;
        color: rgb(0, 0, 0);
        font-family: 'Varela Round', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 2px;
    }

    .login button[type=submit] {
        width: 180px;
        height: 35px;
        font-family: 'Varela Round', sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 0px #37a69b;
        padding-top: 10px;
        cursor: pointer;
        border: none;
        background-color: #37a69b;
        background-image: linear-gradient(top, #3db0a6, #3111);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-radius: 16px;
        box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
        &:hover {
            color: #ff0000;
        }
    }

    .btn-warning {
        width: 180px;
        border-radius: 16px;
        &:hover {
            color: #ff0000;
        }
    }

    .login button[type=submit]:hover {
        opacity: 0.8;
    }

    .login button[type=submit]:active {
        opacity: 0.6;
    }

    .login input[type=text]:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9);
    }

    .login input[type=password]:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9);
    }

    .login button[type=submit]:focus {
        outline: none;
    }

     ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

     ::-moz-input-placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
