<div>
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="signup-form">
                <form [formGroup]="signupForm" class="form-3" (ngSubmit)="onSubmit()">
                    <br>
                    <div class="header" style="text-align: center;">
                        <div><span>הרשמת </span>שוטר למערכת</div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="form-row  row justify-content-center">
                            <mat-form-field>
                                <mat-label>שם משתמש</mat-label>
                                <input formControlName="username" class="form-control" required matInput>
                                <small class="error" *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                              <div *ngIf="f.username.hasError('required')">שדה חובה</div>
                          </small>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row row justify-content-center">
                            <mat-form-field>
                                <mat-label>סיסמא</mat-label>
                                <input formControlName="password" type="password" class="form-control" required matInput>
                                <small class="error" *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                          <div *ngIf="f.password.hasError('required')">שדה חובה</div>
                          <div *ngIf="f.password.hasError('minlength')">הסיסמא חייבת להכיל לפחות 6 תווים</div>
                      </small>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row row justify-content-center">

                            <mat-form-field>
                                <mat-label>אימות סיסמא</mat-label>
                                <input formControlName="passconf" type="password" class="form-control" required matInput/>
                                <small class="error" *ngIf="f.passconf.invalid && (f.passconf.dirty || f.passconf.touched)">
                                  <div *ngIf="f.passconf.hasError('required')">שדה חובה</div>
                              </small>
                                <small class="error" *ngIf="signupForm.errors?.passwordmatch && (signupForm.dirty || signupForm.touched)">
                                 הסיסמאות לא תאמות, אנא הזן שנית
                              </small>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row row justify-content-center">
                            <mat-form-field>
                                <mat-label for="authorization">הרשאת גישה</mat-label>
                                <mat-select formControlName="authorization" required>
                                    <mat-option>----</mat-option>
                                    <mat-option value="Admin">קצין</mat-option>
                                    <mat-option value="User">שוטר</mat-option>
                                </mat-select>
                                <small class="error" *ngIf="f.authorization.invalid && (f.authorization.dirty || f.authorization.touched)">
                        <div *ngIf="f.authorization.hasError('required')">שדה חובה</div>
                      </small>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-row row justify-content-center">
                            <mat-form-field>
                                <mat-label>מספר אישי</mat-label>
                                <input formControlName="id_rank" class="form-control" required matInput/>
                                <small class="error" *ngIf="f.id_rank.invalid && (f.id_rank.dirty || f.id_rank.touched)">
                                <div *ngIf="f.id_rank.hasError('required')">שדה חובה</div>
                            </small>
                            </mat-form-field>

                        </div>
                    </div>



                    <div class="form-group" *ngIf="f.authorization.value == 'Admin' ">
                        <div class="form-row row justify-content-center">
                            <mat-form-field>
                                <mat-label for="rank">דרגת הקצין</mat-label>
                                <mat-select formControlName="rank" required>
                                    <mat-option>----</mat-option>
                                    <mat-option value="צוער">צוער</mat-option>
                                    <mat-option value="מפקח משנה">מפקח משנה</mat-option>
                                    <mat-option value="מפקח">מפקח</mat-option>
                                    <mat-option value="פקד">פקד</mat-option>
                                    <mat-option value="רב פקד">רב פקד</mat-option>
                                    <mat-option value="סגן ניצב">סגן ניצב</mat-option>
                                    <mat-option value="ניצב משנה">ניצב משנה</mat-option>
                                    <mat-option value="תת ניצב">תת ניצב</mat-option>
                                    <mat-option value="ניצב">ניצב</mat-option>
                                </mat-select>
                                <small class="error" *ngIf="f.rank.invalid && (f.rank.dirty || f.rank.touched)">
                      <div *ngIf="f.rank.hasError('required')">שדה חובה</div>
                    </small>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="f.authorization.value == 'User' ">
                        <div class="form-row row justify-content-center">
                            <mat-form-field>
                                <mat-label for="rank">דרגת השוטר</mat-label>
                                <mat-select formControlName="rank" required>
                                    <mat-option>----</mat-option>

                                    <mat-option value="שוטר">שוטר</mat-option>
                                    <mat-option value="רב-שוטר">רב-שוטר</mat-option>
                                    <mat-option value="סמל שני">סמל שני</mat-option>
                                    <mat-option value="סמל ראשון">סמל ראשון</mat-option>
                                    <mat-option value="רב-סמל">רב-סמל</mat-option>
                                    <mat-option value="רב-סמל ראשון">רב-סמל ראשון</mat-option>
                                    <mat-option value="רב-סמל מתקדם">רב-סמל מתקדם</mat-option>
                                    <mat-option value="רב-סמל בכיר">רב-סמל בכיר</mat-option>
                                    <mat-option value="רב-נגד">רב-נגד</mat-option>

                                </mat-select>
                                <small class="error" *ngIf="f.rank.invalid && (f.rank.dirty || f.rank.touched)">
                    <div *ngIf="f.rank.hasError('required')">שדה חובה</div>
                  </small>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-row row justify-content-center">
                            <mat-form-field>
                                <mat-label>שם פרטי</mat-label>
                                <input formControlName="first_name" class="form-control" required matInput/>
                                <small class="error" *ngIf="f.first_name.invalid && (f.first_name.dirty || f.first_name.touched)">
                                  <div *ngIf="f.first_name.hasError('required')">שדה חובה</div>
                              </small>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row row justify-content-center">

                            <mat-form-field>
                                <mat-label>שם משפחה</mat-label>
                                <input formControlName="last_name" class="form-control" required matInput/>
                                <small class="error" *ngIf="f.last_name.invalid && (f.last_name.dirty || f.last_name.touched)">
                                  <div *ngIf="f.last_name.hasError('required')">שדה חובה</div>
                              </small>
                            </mat-form-field>



                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row justify-content-center">

                            <div>
                                <button type="submit" [disabled]="signupForm.invalid" class="btn btn-success ">הכנס שוטר למערכת</button>
                            </div>

                        </div>
                    </div>
                </form>
                <!--  {{signupForm.value | json}}-->
            </div>
        </div>
    </div>
</div>
