pdf-viewer {
    display: block;
    height: 100vh;
}

.header div {
    float: center;
    color: #fff;
    top: calc(60% - 35px);
    left: calc(50% - 255px);
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.header div span {
    color: #5379fa !important;
}

.mat-form-field {
    font-size: 18px;
    padding: 20px 40px;
    width: 400px;
    text-align: right;
    font-family: 'Varela Round', sans-serif;
}
