<div class="form-3 ">
    <div class="header" style="text-align: center;">
        <div><span>חיפוש </span>עבירה</div>
    </div>
    <div class="row justify-content-md-center ">

    </div>
    <div class="form-group">
        <div class="form-row row justify-content-center">

        </div>
    </div>
    <div class="mb form-row row justify-content-center">
        <mat-form-field>
            <input #queryInp matInput id="pdfQueryInput" type="text" placeholder="הזן סמל סעיף" [value]="pdfQuery" (input)="searchQueryChanged($event.target.value)" (keyup.enter)="searchQueryChanged(queryInp.value)">
            <mat-label>חיפוש בחוברת נוסחי אישום</mat-label>
        </mat-form-field>
    </div>
    <hr>
    <div class="pdf-container">
        <pdf-viewer [src]="src" [stick-to-page]="true" [page]="1" [original-size]="false"></pdf-viewer>
    </div>
</div>
