<div class="form-3 table-responsive" style="border-radius: 20px;border: 2px solid rgb(255, 255, 255);">
    <br>
    <div class="header" style="text-align: center;">
        <div id="hello"><span id="hello">נהלים </span>ועידכונים חדשים</div>
    </div>
    <div class="row justify-content-md-center ">

    </div>
    <div class="form-group">
        <div class="form-row row justify-content-center">

        </div>
    </div>
    <div class="mb form-row row justify-content-center">
        <mat-form-field>
            <input #queryInp matInput id="pdfQueryInput" type="text" placeholder="הזן סמל סעיף" [value]="pdfQuery" (input)="searchQueryChanged($event.target.value)" (keyup.enter)="searchQueryChanged(queryInp.value)">
            <mat-label>
                <i class="material-icons mr-2" style=" display: inline-flex;
                                  vertical-align: top;">
                              search
                                  </i> חיפוש עידכון \ נוהל</mat-label>
        </mat-form-field>
    </div>
    <hr>
    <div class="pdf-container ">
        <pdf-viewer [src]="src" [stick-to-page]="true" [page]="1" [original-size]="false"></pdf-viewer>
    </div>
</div>