<nav class=" navbar navbar-expand-md navbar-light  border-bottom ">
    <div class="header " routerLink="/backend/cms">
        <div>TrAap<span>police</span></div>
    </div>

    <button class="navbar-toggler md-form my-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>

    <div class="navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav  ">
            <li class="nav-item active " style="text-align: right;">
                <a class="nav-link" routerLink="/backend/cms">עמוד ראשי</a>
            </li>

            <li class="nav-item dropdown " style="text-align: right;">
                <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             אפשרויות
              </a>
                <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                    <li><a *ngIf="user.payload.authorization === 'Admin'" class=" btn btn-info" routerLink="/backend/product">דוחות שהונפקו</a></li>
                    <li><a class=" btn btn-info" routerLink="/backend/product/create">הנפקת דוח</a></li>
                    <li><a *ngIf="user.payload.authorization === 'Admin'" routerLink="/backend/product/userlist-server" class=" btn btn-info">סטטיסטקת דוחות</a></li>
                    <li><a class=" btn btn-info" routerLink="/backend/dashboard">חיפוש עבירה</a></li>
                    <li><a class=" btn btn-info" routerLink="/backend/product/product-update">עידכונים ונהלים חדשים</a></li>
                    <li><a *ngIf="user.payload.authorization === 'Admin'" class=" btn btn-info" routerLink="/backend/auth">הרשמת שוטר למערכת</a></li>
                    <li><a *ngIf="user.payload.authorization === 'Admin'" class=" btn btn-info" routerLink="/backend/product/userlist">רשימת שוטרים רשומים</a></li>
                    <li><a class=" btn btn-info" routerLink="/backend/product/phone-list">כתובות וטלפונים</a></li>
                    <li><a class=" btn btn-info" routerLink="/backend/product/product-about">אודות</a></li>
                    <li><a class=" btn btn-info" routerLink="/backend/product/product-help">עזרה</a></li>
                    <li><a class=" btn btn-info" routerLink="/backend/product/product-conact">צור קשר</a></li>

                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto " style="text-align: right;">
            <li>
                <button class="btn btn-outline-danger  mr-2" *ngIf="user.payload.authorization === 'Admin'">מחובר כקצין</button>
            </li>
            <li>
                <button class="btn btn-outline-success  mr-2" *ngIf="user.payload.authorization === 'User'">מחובר כשוטר</button>
            </li>
            <li>
                <button class="btn btn-danger  mr-2" href="javaScript:void(0)" (click)="logout()"> <i class="glyphicon glyphicon-log-out"></i>
                  יציאה מהמערכת</button>
            </li>
        </ul>
    </div>
</nav>


<app-message></app-message>
