<div class="form-3  " style="border-radius: 20px;border: 2px solid rgb(255, 255, 255);">
    <br>
    <div class="header" style="text-align: center;">
        <div><span>סטטיסטיקת </span>דוחות</div>
    </div>
    <br>
    <hr>


    <div class="row justify-content-center">
        <mat-card style="background: linear-gradient(260deg, #5d5fc2 20%, #314d5f 50%);border-radius: 20px;border: 2px solid rgb(255, 255, 255);width: 1000px;">
            <div class="header" style="text-align: center;">
                <div><span>מספר </span>דוחות לשוטר</div>
            </div>
            <hr>

            <mat-table [dataSource]="dataSource" matSort class=" table table-bordered table-responsive-xl   ">


                <ng-container matColumnDef="Rank_first_last_name_officer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> שם השוטר </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Rank_first_last_name_officer}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> סהכ דוחות </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.total}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>

            </mat-table>


        </mat-card>
    </div>
    <br>
    <hr>
    <div class="row justify-content-center">
        <mat-card style="background: linear-gradient(260deg, #5d5fc2 20%, #314d5f 50%);border-radius: 20px;border: 2px solid rgb(255, 255, 255);width: 1000px;">
            <div class="header" style="text-align: center;">
                <div><span>מספר </span>דוחות לפי סעיפים</div>
            </div>
            <hr>
            <mat-table [dataSource]="dataSourceSim" matSort class=" table table-bordered table-responsive-xl bg-light text-dark  mat-elevation-z8">
                <ng-container matColumnDef="Offense_Number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> סמל סעיף </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Offense_Number}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Offense_Description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> תיאור הסעיף </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="justify-content: right"> {{row.Offense_Description}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> סהכ דוחות </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.total}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnSim"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnSim;">
                </mat-row>
            </mat-table>
        </mat-card>
    </div>
    <br>
    <hr>
    <div class="row justify-content-center">
        <mat-card style="background: linear-gradient(260deg, #5d5fc2 20%, #314d5f 50%);border-radius: 20px;border: 2px solid rgb(255, 255, 255);width: 1000px;">
            <div class="header" style="text-align: center;">
                <div><span>מספר </span>לפי סכום הקנס</div>
            </div>
            <hr>

            <mat-table [dataSource]="dataSourceMoney" matSort class=" table table-bordered table-responsive-xl bg-light text-dark  mat-elevation-z8">


                <ng-container matColumnDef="Report_Amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> סכום הקנס </mat-header-cell>
                    <mat-cell *matCellDef="let row"> ₪{{row.Report_Amount}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> סהכ דוחות </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.total}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumnMoney"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnMoney;">
                </mat-row>

            </mat-table>
        </mat-card>
    </div>

    <br>
    <hr>

    <div class="row justify-content-center">
        <mat-paginator style="background: linear-gradient(260deg, #5d5fc2 20%, #314d5f 50%);color:white;border-radius: 20px;" [pageSizeOptions]="[5,10,20]"></mat-paginator>
    </div>

</div>