<div class="container">
    <form [formGroup]="productFormIDNumber" (ngSubmit)="onSubmitIdNumber()">
        <div class="form-group justify-content-md-center col-md-10">
            <div class="form-row">
                <mat-form-field>
                    <mat-label>ת.ז</mat-label>
                    <input formControlName="idSearch" class="form-control" matInput>
                    <small class="error" *ngIf="fIdNumber.idSearch.invalid && (fIdNumber.idSearch.dirty || fIdNumber.idSearch.touched)">
            </small>
                </mat-form-field>
            </div>
        </div>

        <ng-container *ngFor="let row of rows">
            <table class="table table-stripped table-bordered">
                <tr class="thead-dark col-md-12 text-right">
                    <td>{{row.First_Name}}</td>
                    <td>{{row.Whom}}</td>
                    <td>{{row.DrivingLicenseNumber}}</td>
                </tr>
            </table>
        </ng-container>
        <button class="btn btn-success btn-lg mr-2">חיפוש</button>
    </form>
</div>
