<div class="example-config">
    <button kendo-button (click)="pdf.saveAs('invoice.pdf')">
    Save As PDF...
  </button>
</div>

<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
    <div class="header">
        Blauer See Delikatessen
    </div>

    <div class="address">
        <div class="for">
            <h3>Invoice For</h3>
            <p>
                Antonio Moreno<br /> Naucalpan de Juárez<br /> México D.F., Mexico, 53500
            </p>
        </div>

        <div class="from">
            <h3>From</h3>
            <p>
                Hanna Moos <br /> Lützowplatz 456<br /> Berlin, Germany, 10785
            </p>
        </div>
    </div>
</kendo-pdf-export>